{% extends 'base.html' %}
{% block title %}Блог{% endblock %}
{% block head %}Блог{% endblock %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            25.06.2021
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    Основные задачи выполнены. Начинаем оформлять отчётные материалы.<br>
                    Финальная версия схемы ИС биотерминала.
                </p>
                <div class="card">
                    <img src="/static/pd.png" alt="rf" class="card-img" style="widows: 600px">
                </div>
            </blockquote>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            5.06.2021
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Загружены модель угроз и схема. Версии нефинальные, нужны доработки.</p>
                <p>ИК камера не работает. Идет поиск решения этой проблемы.</p>
                <p>Скоро будет получена новая версия серверной части.</p>
            </blockquote>
        </div>
    </div>    
    <div class="card mb-4">
        <div class="card-header">
            15.05.2021
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>ИС с биотерминалом собрана и успешно функционирует</p>
                <p>Идет разработка схемы её работы и модели угроз</p>
            </blockquote>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            22.04.2021
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Сайт родился</p>
                <p>Организовываем удаленный доступ для участников команды к серверу с системой биотерминала</p>
            </blockquote>
        </div>
    </div>
{% endblock %}