{% extends 'base.html' %}
{% block title %}Исследование биотерминалов{% endblock %}
{% block head %}О проекте{% endblock %}
{% block content %}
    <h2 class="px-5 ">Тема проекта</h2>
    <h4 class="px-5 py-3">Исследования биометрических терминалов с точки зрения ИБ
    </h4>
    <h2 class="px-5 ">Куратор проекта</h2>
    <p class="px-5 py-3">Кесель Сергей Александрович</p>
    <h2 class="px-5 ">Заказчик проекта</h2>
    <p class="px-5 py-3">Банк Ак Барс</p>
    <h2 class="px-5 ">Задание</h2>
    <p class="px-5">
        <ol class="px-5 ">
            <li>Развернуть систему с биотерминалом</li>
            <li>Составить схему взаимодействия её частей</li>
            <li>Построить модель угроз данной системы</li>
        </ol>
    </p>
    {% endblock %}