{% extends 'base.html' %}
{% block title %}Команда{% endblock %}
{% block head %}Команда{% endblock %}
{% block content %}
    <table class="table table-dark mb-5">
        <tr>
            <th>ФИО</th>
            <th>Роль</th>
        </tr>
        <tr>
            <td>Богачев Максим</td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>Шмаков Данила</td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>Окунев Степан</td>
            <td>
                Ведение данного сайта. Работа над схемой системы
            </td>
        </tr>
        <tr>
            <td>Шипилова Анастасия</td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>Платонов Артем</td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>Лейс Валерий</td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>Кочаров Арсений</td>
            <td>
                -
            </td>
        </tr>
    </table>
{% endblock %}