{% extends 'base.html' %}
{% block title %}Команда{% endblock %}
{% block head %}Команда{% endblock %}
{% block content %}
    <table class="table table-dark mb-5">
        <tr>
            <th>ФИО</th>
            <th>Роль</th>
        </tr>
        <tr>
            <td>Богачев Максим</td>
            <td>
                Руководство по защите. Отчетность.
            </td>
        </tr>
        <tr>
            <td>Шмаков Данила</td>
            <td>
                Руководство по защите. Схема системы. Отчетность.
            </td>
        </tr>
        <tr>
            <td>Окунев Степан</td>
            <td>
                Ведение данного сайта. Cхема системы. Модель угроз. Отчетность.
            </td>
        </tr>
        <tr>
            <td>Шипилова Анастасия</td>
            <td>
                Изучение и развертывание ИС биотерминала. Траблшутинг конфигов. Общение с заказчиком.
            </td>
        </tr>
        <tr>
            <td>Платонов Артем</td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>Захаров Василий</td>
            <td>
                Модель угроз.
            </td>
        </tr>
        <tr>
            <td>Константинов Денис</td>
            <td>
                Модель угроз.
            </td>
        </tr>
        <tr>
            <td>Кочаров Арсений</td>
            <td>
                -
            </td>
        </tr>
    </table>
{% endblock %}